{% extends "realestate/layout_development.html" %} <!-- Heredar el diseño de la plantilla 'layout_development.html' -->

{% block content %} <!-- Define el bloque de contenido para esta página -->

<div class="container mt-5"> <!-- Contenedor para el contenido de la página con margen superior -->
    <h1 class="text-center mb-4 logo-text">Editar Desarrollo</h1> <!-- Título de la página centrado con margen inferior -->

    <div id="development-form"> <!-- Contenedor para el formulario de desarrollo -->
        <form method="post" enctype="multipart/form-data"> <!-- Método de envío del formulario establecido en POST y habilitando la carga de archivos -->
            {% csrf_token %} <!-- Token CSRF de Django para seguridad -->

            <!-- Campo de entrada para editar el título del desarrollo -->
            <div class="mb-3">
                <label for="{{ form.title.id_for_label }}">Título</label> <!-- Etiqueta para la entrada del título -->
                {{ form.title }} <!-- Renderizar el campo de entrada del título con el valor actual -->
            </div>

            <!-- Campo de entrada para editar el contenido del desarrollo -->
            <div class="mb-3">
                <label for="{{ form.content.id_for_label }}">Contenido</label> <!-- Etiqueta para la entrada del contenido -->
                {{ form.content }} <!-- Renderizar el campo de entrada del contenido con el valor actual -->
            </div>

            <!-- Campo de entrada para editar la imagen del desarrollo -->
            <div class="mb-3">
                <label for="{{ form.image.id_for_label }}">Imagen</label> <!-- Etiqueta para la entrada de la imagen -->
                {{ form.image }} <!-- Renderizar el campo de entrada de la imagen con el valor actual -->
            </div>

            <!-- Campo de entrada para editar el folleto (PDF) -->
            <div class="mb-3">
                <label for="{{ form.brochurePaper.id_for_label }}">Folleto (PDF)</label> <!-- Etiqueta para la entrada del folleto -->
                {{ form.brochurePaper }} <!-- Renderizar el campo de entrada del folleto (PDF) con el valor actual -->
            </div>

            <!-- Botones para guardar el formulario o cancelar la acción -->
            <div class="text-center">
                <button type="submit" class="btn">Guardar</button> <!-- Botón de envío para guardar el desarrollo -->
                <a href="{% url 'management' %}" class="btn">Cancelar</a> <!-- Botón de cancelar que redirige a la URL de 'management' -->
            </div>
        </form>
    </div>
</div>

{% endblock %} <!-- End of content block -->
