{% extends "realestate/layout.html" %}
<!-- Extiende la plantilla base "layout.html" de la aplicación 'bienes raíces' -->
{% load static %}
<!-- Carga la etiqueta de archivos estáticos para acceder a recursos estáticos como imágenes, CSS o JavaScript -->

{% block content %}
<!-- Comienza el bloque de contenido para insertar contenido específico de la página en la plantilla base -->

<section id="serieMobile" style="background-image:url('/static/img/industry.jpg');">
    <!-- Sección con un ID personalizado 'serieMobile' y una imagen de fondo en línea aplicada -->

    <div class="container text-center py-5" id="containerMobile">
        <!-- Contenedor de Bootstrap centrado con padding aplicado (py-5) y un ID personalizado 'containerMobile' -->

        <div class="card text-center text-white" id="cardMobile">
            <!-- Componente de tarjeta de Bootstrap con texto centrado, color de fuente blanco y un ID personalizado 'cardMobile' -->

            <div class="card-body d-flex flex-column text-center" id="card-bodyMobile">
                <!-- Cuerpo de la tarjeta con un diseño de flexbox para alinear elementos verticalmente y centrar el texto -->

                <h3 class="card-title" id="card-titleMobile">Industria</h3>
                <!-- Título de la tarjeta con el texto "industria" y un ID personalizado 'card-titleMobile' -->

                <p class="card-text" id="card-textMobile">
                    <!-- Párrafo que contiene la descripción de los servicios industriales con un ID personalizado 'card-textMobile' -->
                    Somos especialistas en propiedades industriales y contamos con un equipo de profesionales en el desarrollo
                    y planificación de ubicaciones industriales. Aplicamos tecnologías de vanguardia para cumplir con los más altos estándares
                    en seguridad y cuidado del medio ambiente.
                </p>

                <a href="{% url 'home' %}#serie" class="btn btn-light mt-3">
                    <!-- Botón estilizado como un botón ligero de Bootstrap, que enlaza de vuelta a la sección 'serie' de la página 'home' -->
                    Regresar
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
<!-- Ends the content block -->
