{% extends "realestate/layout.html" %} 
<!-- Extiende la plantilla base "layout.html" de la aplicación 'bienes raíces' -->

{% load static %} 
<!-- Carga la etiqueta de archivos estáticos para acceder a recursos estáticos como imágenes, CSS o JavaScript -->

{% block content %} 
<!-- Comienza el bloque de contenido para insertar contenido específico de la página en la plantilla base -->

<section id="serieMobile" style="background-image:url('/static/img/dwelling.jpg');">
    <!-- Sección con un ID personalizado 'serieMobile' y una imagen de fondo en línea aplicada -->

    <div class="container text-center py-5" id="containerMobile">
        <!-- Contenedor de Bootstrap centrado con padding aplicado (py-5) y un ID personalizado 'containerMobile' -->

        <div class="card text-center text-white" id=cardMobile>
            <!-- Componente de tarjeta de Bootstrap con texto blanco centrado y un ID personalizado 'cardMobile' -->

            <div class="card-body d-flex flex-column text-center" id=card-bodyMobile>
                <!-- Cuerpo de la tarjeta con un diseño de flexbox para la alineación en columna y un ID personalizado 'card-bodyMobile' -->

                <h3 class="card-title" id=card-titleMobile>Vivienda</h3>
                <!-- Título de la tarjeta 'Vivienda' con un ID personalizado 'card-titleMobile' -->

                <p class="card-text" id=card-textMobile>
                    <!-- Texto de la tarjeta con un ID personalizado 'card-textMobile' -->
                    Un producto único que busca crear una experiencia diferente en un entorno de disfrute, apoyo y tranquilidad,
                    inmerso en la naturaleza. <br> <!-- Salto de línea para un mejor formato del texto -->
                    Con unidades que se entregan completamente decoradas y equipadas, con las más completas comodidades y servicios,
                    y en entornos que invitan a respirar naturaleza, el disfrute es el único resultado posible.
                </p>
                
                <a href="{% url 'home' %}#serie" class="btn btn-light mt-3">
                    <!-- Botón estilizado como un botón ligero de Bootstrap, que enlaza de vuelta a la sección 'serie' de la página 'home' -->
                    Regresar
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock %} 
<!-- Ends the content block -->
